/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    padding: 0;
    margin: 0;
  }

.neko{
  margin-top: 65px;
  position: relative;
  left: 35%;
  z-index: 1;
}

  .tatan{
    position: absolute;
    top: 0%;
    left: 38%;
  }
 
  body {
    font-family: "Monotype Corsiva", fantasy;
    background-color: #d7c9ab;
  }

  header {
    background-color: #b29a71;
    height: 225px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header a {
    color: white; 
    text-decoration: none;
  }

  .header-list {
    display: flex;
    align-items: center;
    position: relative;
    left: 0px;
    font-size: large;
  }

  .header-list li{
    margin-right: 5vh;
  }

.home{
  padding-left: 3vh;
}

.newpost{
  padding-right: 1vh;
}

.login{
  padding-left: 3vh;
}

.account{
  padding-left: 2vh;
}

.logout{
  padding-left: 1vh;
}

  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 10px;
  }
  
  footer {
    color: white;
    height: 30px;
    background-color: #000;
    bottom: 0;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    position: fixed;
    justify-content: center;
  }

.image{
  width: 50px;
  height: 50px;
}