// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.alldm{
    text-align: center;
    margin: 150px;
    position: relative;
    bottom: 300px;
    font-size: large;
}

.hako{
    
}

.namae{
    color: white;
}

a {
    color:rgb(30, 14, 117);
}